    /* begin style reset */
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        font-family: sans-serif;
        line-height:1;
    }
    /* end style reset */

    body {
        background-image:url('square_bg.png');
    }

    .main-container {
        margin: 20px 20px 0 20px;
    }
    .rest {
        display: none;
        background-color:#fff;
        margin-top:10px;
        border: 2px solid rgb(209, 208, 193);
        border-radius: 5px;
        width:46%;
    }
    #button {
        margin: 20px 20px 0 20px;
    }

    h2 {
        color: #B41900;
        font-size:20px;
        /*text-shadow: 1px 1px rgb(255, 195, 95);
        */margin:10px;
        display:inline-block;
        width:auto;
    }

    section div {
        margin: 10px;
    }
    #header {
        background-color:#fff;
        margin-top: 20px;
        border-top: 2px solid rgb(209, 208, 193);
        border-bottom: 2px solid rgb(209, 208, 193);        width:100%;
    }

    #header h1{
        color: #894035;
        font-size:24px;
        margin:10px 10px 10px 20px;
        display:inline-block;
    }

    #header span {
        color:rgb(120, 120, 120);
    }

    .clear {
        clear:both;
    }

    .grav {
        margin:5px 5px 0 0;
        float: right;
    }

    .flow-left {
        float: left;
    }

    .action-button, .action-button:focus {
        border: 0px solid rgb(255, 181, 74);
        background-color: rgb(255, 181, 74);
        color: #fff;

        text-decoration: none;
        outline: none;
    }

    .action-button:hover {
        background-color: #428bca;
    }

    .main-container .action-button {
        margin-top:5px;
    }

    .rest .action-button {
        margin:5px;
    }

    .modal-dialog {
        top: 50px;
    }
